@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-header {
    height: 10vh;
    background-color: rgb(87, 109, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    font-family: 'Playfair Display', serif;
}

.title {
    color: #e8ffd8;
    margin-left: 1rem;
    font-weight: 900;
    text-align: center;
}

.headerIcon {
    display: inline;
}